
{% extends "base.html" %}
{% block content %}
<head>
<meta charset='utf-8' />
<meta http-equiv='content-type' content='text/html; charset=utf-8' />

</head>
<body>
<script
    src="http://ksf712:5006/bokeh/autoload.js/817bf80b-8317-48de-b291-5a4efd874190"
    id="817bf80b-8317-48de-b291-5a4efd874190"
    async="true"
    data-bokeh-data="server"
    data-bokeh-modelid="e10ad805-fe99-46ab-aebb-2d64b8c37da5"
    data-bokeh-root-url="http://ksf712:5006/"
    data-bokeh-docid="a27cacbb-d0e3-465c-b71c-c4c799c7d751"
    
    data-bokeh-docapikey="b380315e-e950-452b-89a5-21b2574a58e3"
    
    data-bokeh-loglevel="info"
></script>
</body>
{% endblock %}
