<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
  <h2>Enter parameters</h2>
  <form action="" method="post" name="login">
      {{ form.hidden_tag() }}
      <p>
          Please enter Parameter #1:<br>
          {{ form.parameter1(size=80) }}<br>
          Please enter Parameter #2:<br>
          {{ form.parameter2(size=80) }}<br>
          Please enter Parameter #3:<br>
          {{ form.parameter3(size=80) }}<br>
          Please enter Parameter #4:<br>
          {{ form.parameter4(size=80) }}<br>
      </p>
      <p>{{ form.saving }} Save to hard disk?</p>
      <button type="stop" class="btn btn-default" name="submit" value="submit">Submit</button>
      <button type="stop" class="btn btn-default" name="submit" value="start">Start</button>
      <button type="stop" class="btn btn-default" name="submit" value="stop">Stop</button>
      <button type="stop" class="btn btn-default" name="submit" value="restart">Restart</button>
  </form>
{% endblock %}