
{% extends "base.html" %}
{% block content %}
<head>
<meta charset='utf-8' />
<meta http-equiv='content-type' content='text/html; charset=utf-8' />

</head>
<body>
<script
    src="http://ksf712:5006/bokeh/autoload.js/13233c5a-59c2-4129-b528-7aed2709aff9"
    id="13233c5a-59c2-4129-b528-7aed2709aff9"
    async="true"
    data-bokeh-data="server"
    data-bokeh-modelid="1e6ffbe9-f29b-4ac5-bc31-2cb99f0de6db"
    data-bokeh-root-url="http://ksf712:5006/"
    data-bokeh-docid="4a7be03c-5c1c-4a6e-a0e1-5fd2fdb5a198"
    
    data-bokeh-public="true"
    
    data-bokeh-loglevel="info"
></script>
</body>
{% endblock %}
